// Colores primarios
$primary_1: #4537AD;
$primary_2: #37AD72;
$primary_3: #41AD37;

// Tonos secundarios
$secondary_1: #2E2D38;
$secondary_2: #3D3A58;
$secondary_3: #4D4C5B;

// Colores complementarios

$complementary_1: #AD9D37;
$complementary_2: #AD6737;
$complementary_3: #AD4537;

//  Tonos neutros
$neutral_1: #FCFCFE;
$neutral_2: #ECEBF7;
$neutral_3: #9B97B5;