// Lista de variables

//Padding
$padding_1: 8px 32px;
$padding_2: 8px 16px;
$padding_3: 0 16px;
$padding_4: 32px 16px;
$padding_5: 16px 8px;
$padding_6: 8px 32px 0;
$padding_7: 16px;
$padding_8: 8px 0;

//Boder radius
$radius_1: 16px;
$radius_2: 20px;
$radius_3: 0 0 20px 20px;
$radius_4: 16px 16px 0 0;

//Gap

$gap_1: 24px;
$gap_2: 16px;
$gap_3: 8px;

//Columns
$col_1: 1fr;
$col_2: repeat(2, 1fr);
$col_3: repeat(4, 1fr);