/*Reset CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Fuentes*/
@font-face {
    font-family: 'hgroup';
    font-style: bold;
    font-weight: 700;
    src: url(akatab-bold.ttf) format('ttf');
}
@font-face {
    font-family: 'text';
    font-style: normal;
    font-weight: 400;
    src: url(chocolateclassicalsans-regular.ttf) format('ttf');
}
/*Elementos*/
h1 {
    font: 2.027rem 'hgroup';
    color: #2E2D38;
}
h2 {
    font: 1.807rem 'hgroup';
    color: #2E2D38;
}
h3 {
    font: 1.602rem 'hgroup';
    color: #2E2D38;
}
h4 {
    font: 1.424rem 'hgroup';
    color: #2E2D38;
}
h5 {
    font: 1.266rem 'hgroup';
    color: #2E2D38;
}
h6 {
    font: 1.125rem 'text';
    color: #9B97B5;
}
p, a {
    font: 1rem 'text';
    color: #3D3A58;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.btn, .card-index-content a {
    padding: 8px 32px;
    border-radius: 16px;
    background-color: #37AD72;
    color: #FCFCFE;
}
/*Header*/
header {
    background-color: #ECEBF7;
}
/*Estado link y visited*/
header nav div a:link, .breadcrumb a:link, footer section ul li a:link, header nav div a:visited, .breadcrumb a:visited, footer section ul li a:visited {
    color: #4537AD;
}
.card-index-content a:link, .card-index-content a:visited, .btn:visited, .card-producto-content a:link,  .card-producto-content a:visited {    
    color: #FCFCFE;
    background-color: #37AD72;
}
.inactive {
    background-color: #ECEBF7;
    color: #2E2D38;
}
/*Estado hover*/
header nav div a:hover, .btn:hover, .breadcrumb a:hover, .card-index-content a:hover, .card-producto-content a:hover, .nav-pills li a:hover, footer section ul li a:hover {
    background-color: #AD9D37;
    color: #FCFCFE;
}
/*Estado active*/
.btn:active,.card-index-content a:active, .card-producto-content a:active, .nav-pills li a:active, .active, footer section ul li a:active {
    background-color: #AD6737;
    color: #FCFCFE;
}
/*Footer*/
footer {
    background-color: #ECEBF7;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
}
.redes, footer section {
    justify-self: center;
}
footer section ul {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
footer section ul li {
    padding: 8px 16px;
}
/*Contenido Main*/
/*Breadcrumb*/
.breadcrumb {
    display: flex;
    align-items: center;
    padding: 0 16px;
}
main {
    gap: 32px;
    margin: 32px 0;
}
main section div p, .card-video p, .card-video-thumbnail p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*Card Página de Inicio*/
/*Card*/
.card-box, .card-video-box, .card-producto-content { /*Formato caja*/
    max-width: 80vw;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(155, 151, 181, .2);
    padding: 32px 16px;
    align-content: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
/*Card Página de Inicio*/
.card-index {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 8px;
    border-radius: 0 0 20px 20px;
}
.card-index img, .card-index-content img, #recomendacion1 img, #recomendacion2 img, #recomendacion3 img, .card-video video, .card-video-thumbnail video, .card-producto-content img {
    width: 100%;
}
.card-index-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 16px;
}
.card-index-content a {
    text-decoration: none;
    text-align: center;
    display: inline-block;
}
/*Página Conócenos*/
#members, #card-producto { /*Formato Id Cajas*/
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-around;
    align-content: center;
    gap: 16px;
    padding: 0 16px;
}
.f { /*Formato Id Cajas*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 16px;
    padding: 0 16px;
}
/*Página Biblioteca*/
.nav-pills li {
    padding: 8px 32px;
    border-radius: 16px 16px 0 0;
}
#recomendacion1 { /*Formato Id Tab*/
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 8px 16px;
    border-radius: 0 0 20px 20px;
    border: 2px solid #AD6737;
    background-color: #FCFCFE;
}
#recomendacion2, #recomendacion3 {
    display: none;
}
/*Card Página Videoteca*/
.card-video-box {    
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.video-sidebar {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    max-height: 480px;
    overflow-y: scroll;
}
.card-video-thumbnail, .card-producto-id {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
/*Página Tienda*/
.card-producto-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}
.card-producto-content a {
    border-radius: 16px;
    padding: 8px 16px;
}
.card-producto-info {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.card-producto-precio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}
/* Media query para tabletas */
@media (min-width: 600px) {
    #members, #card-producto { /*Formato Id Cajas*/
        grid-template-columns: repeat(2, 1fr);
    }
    #recomendacion1 p {
        display: block;
        white-space: wrap;
    }
    footer {
        flex-direction: row;
    }
}
/* Media query para computadoras de escritorio */
@media (min-width: 1024px) {   
    .dropdown-menu {
        width: 300px;
    }
    .card-index {
        flex-direction: row-reverse;
    }
    main section div p {
    white-space: wrap;
    }
    #members, #card-producto { /*Formato Id Cajas*/
        grid-template-columns: repeat(4, 1fr);
    }
    .card-video-box {
        flex-direction: row;
}
    .card-video {
        width: 70%;
    }
    
    .card-video2 {
        width: 25%;
    }
    .nav-pills .recomendacion3 {
        display: none;
    }
}