// Archivos importados en orden colors, variables, mixin
@use "../abstracts/colors" as c;
@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as *;

/*Footer*/
footer {
    background-color: c.$neutral_2;
    @include flex_col_1;
    @include justali_1;
    padding: v.$padding_7;
    section {
        justify-self: center;
        div {
            justify-self: center;
        }
    }
    section {
        justify-self: center;
        ul {
            @include flex_wrap;
            li {
                padding: v.$padding_2;
                a {
                    &:link {
                        @extend %color2;
                    }
                    &:visited {
                        @extend %color2;
                    }
                    &:hover {
                        @extend %color3;
                    }
                    &:active {
                        @extend %color4;
                    }
                }
            }
        }
    }
}